@{
    ViewBag.Title = "Home Page";
}

<p>@Html.ActionLink("Students", "Index", "Students")</p>
<p>@Html.ActionLink("Courses", "Index", "Courses")</p>
<p>@Html.ActionLink("Grades", "Index", "Grades")</p>
<p>@Html.ActionLink("Todos", "Index", "Todos")</p>
<p>@Html.ActionLink("Status", "Index", "Status")</p>